/*base*/
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.serif {
  font-family: 'Playfair Display', 'Noto Serif KR', serif;
  letter-spacing: -2px;
}

p.serif, .serif p {
  letter-spacing: -1px;
}

body {
  font-family: navigo, rixsingose-pro, sans-serif;
  -webkit-font-smoothing: antialiased;
  line-height: 1.55556;
  font-size: 16px;
  font-size: 1rem;
  font-weight: 400;
  word-break: keep-all;
  color: #161619;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

p {
  margin: 0;
}

ul {
  margin: 0;
}

h1 {
  font-size: 50px;
  font-size: 3.125rem;
}

h2 {
  font-size: 32px;
  font-size: 2rem;
}

h3 {
  font-size: 28px;
  font-size: 1.75rem;
}

h4 {
  font-size: 22px;
  font-size: 1.375rem;
}

h5 {
  font-size: 18px;
  font-size: 1.125rem;
}

h6 {
  font-size: 16px;
  font-size: 1rem;
}

@media (max-width: 992px) {
  body {
    font-size: 16px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 20px;
    margin-bottom: 16px;
  }
}

a {
  color: #161619;
  text-decoration: none;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

a:focus, a:hover, a:active {
  outline: 0;
}

.dbd-container-fluid {
  margin-left: 45px;
  margin-right: 45px;
  padding-left: 15px;
  padding-right: 15px;
  width: auto;
}

.dbd-container-fluid:before {
  content: "";
  display: table;
  table-layout: fixed;
}

.dbd-container-fluid:after {
  content: "";
  display: table;
  table-layout: fixed;
  clear: both;
}

@media (max-width: 991px) {
  .footer-widgets .footer-widgets-area {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 60px;
  }
  .footer-widgets .footer-widgets-area:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .header-mobile {
    display: none;
  }
  .mobile-menu-panel {
    display: none !important;
  }
}

.no-sidebar.single-post .content-area {
  max-width: 750px;
  float: none;
  margin-left: auto;
  margin-right: auto;
}

.sidebar-left .content-area,
.sidebar-right .content-area {
  width: 65.78947%;
}

.sidebar-left .widget-area,
.sidebar-right .widget-area {
  width: 34.21053%;
}

.sidebar-left.single-post .widget-area,
.sidebar-right.single-post .widget-area {
  padding-top: 35px;
}

.sidebar-left .dbd-container .content-area,
.sidebar-right .dbd-container .content-area {
  width: 74.28571%;
}

.sidebar-left .dbd-container .widget-area,
.sidebar-right .dbd-container .widget-area {
  width: 25.71429%;
}

.sidebar-left .content-area {
  float: right;
}

.sidebar-left .widget-area {
  float: left;
  padding-right: 60px;
}

.sidebar-left .dbd-container .widget-area {
  padding-right: 80px;
}

.sidebar-right .content-area {
  float: left;
}

.sidebar-right .widget-area {
  float: right;
  padding-left: 60px;
}

.sidebar-right .dbd-container .widget-area {
  padding-left: 80px;
}

.empty-sidebar.sidebar-left .content-area,
.empty-sidebar.sidebar-left .widget-area, .empty-sidebar.sidebar-right .content-area,
.empty-sidebar.sidebar-right .widget-area {
  width: auto;
  float: none;
}

.empty-sidebar.single-post .content-area {
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
}

.empty-sidebar .entry-header .post-info {
  max-width: 780px;
}

.site-content {
  padding-top: 60px;
  padding-bottom: 60px;
}

.no-top-spacing .site-content {
  padding-top: 0 !important;
}

.no-bottom-spacing .site-content {
  padding-bottom: 0 !important;
}

.header-vertical .site {
  padding-left: 360px;
}

.header-vertical .container,
.header-vertical .container-fluid,
.header-vertical .dbd-container,
.header-vertical .dbd-container-fluid {
  max-width: 100%;
}

.svg-icon svg {
  vertical-align: -0.125em;
  width: 1em;
  height: 1em;
  fill: currentColor;
  display: inline-block;
}

.svg-icon {
  font-size: 24px;
  font-size: 1.5rem;
  line-height: 1;
  display: inline-block;
}

.svg-icon.size-small, .svg-icon.icon-small {
  font-size: 16px;
  font-size: 1rem;
}

.svg-icon.size-smaller, .svg-icon.icon-smaller {
  font-size: 14px;
  font-size: 0.875rem;
}

.svg-icon svg {
  vertical-align: -0.125em;
  width: 1em;
  height: 1em;
  fill: currentColor;
  display: inline-block;
}

hr {
  background-color: #e3e7e8;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}

hr.divider {
  margin: 0;
}

/* Text meant only for screen readers. */
.screen-reader-text, .socials-menu span {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

:focus {
  outline: 0;
}

.visible {
  visibility: visible;
}

.dark {
  background-color: #161619;
}

.brand {
  background-color: #008ED6;
}

.light {
  background-color: #fff;
}

.text-dark,
.text-dark a {
  color: #000;
}

.text-light,
.text-light a {
  color: #fff;
}

.underline-hover, .page-header-nav-menu a, .hamburger-navigation li li a, .blog-header-menu a {
  line-height: 1;
  position: relative;
  display: inline-block;
  padding-bottom: 8px;
}

.underline-hover:after, .page-header-nav-menu a:after, .hamburger-navigation li li a:after, .blog-header-menu a:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  border-bottom: 2px solid;
  -webkit-transition: width 0.4s;
  transition: width 0.4s;
}

.underline-hover.active, .page-header-nav-menu a.active, .hamburger-navigation li li a.active, .blog-header-menu a.active, .underline-hover:hover, .page-header-nav-menu a:hover, .hamburger-navigation li li a:hover, .blog-header-menu a:hover {
  text-decoration: none;
}

.underline-hover.active:after, .page-header-nav-menu a.active:after, .hamburger-navigation li li a.active:after, .blog-header-menu a.active:after, .underline-hover:hover:after, .page-header-nav-menu a:hover:after, .hamburger-navigation li li a:hover:after, .blog-header-menu a:hover:after {
  width: 100%;
  left: 0;
}

.underline-hover.short-line:after, .page-header-nav-menu a.short-line:after, .hamburger-navigation li li a.short-line:after, .blog-header-menu a.short-line:after {
  right: auto;
  left: 0;
  width: 20px;
  border-bottom: 2px solid;
}

.underline-hover.short-line.active:after, .page-header-nav-menu a.short-line.active:after, .hamburger-navigation li li a.short-line.active:after, .blog-header-menu a.short-line.active:after, .underline-hover.short-line:hover:after, .page-header-nav-menu a.short-line:hover:after, .hamburger-navigation li li a.short-line:hover:after, .blog-header-menu a.short-line:hover:after {
  width: 100%;
}

.alignfull {
  margin-left: calc(-100vw/2 + 100%/2 + 160px/2);
  margin-right: calc(-100vw/2 + 100%/2 + 160px/2);
}

@media (max-width: 1140px) {
  .alignfull {
    margin-left: 0;
    margin-right: 0;
  }
}

.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;
}

.embed-responsive .embed-responsive-item, .embed-responsive embed, .embed-responsive iframe, .embed-responsive object, .embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.embed-responsive-16by9::before {
  padding-top: 56.25%;
}

.embed-responsive::before {
  display: block;
  content: "";
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  font-size: 14px;
  font-size: 0.875rem;
  color: #fff;
  font-weight: 600;
  line-height: 60px;
  border: 0;
  border-radius: 0;
  padding: 0 40px;
  background: #161619;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

button.alt,
input[type="button"].alt,
input[type="reset"].alt,
input[type="submit"].alt {
  color: #161619;
  border: 1px solid #161619;
  background: transparent;
}

button.alt:hover,
input[type="button"].alt:hover,
input[type="reset"].alt:hover,
input[type="submit"].alt:hover {
  color: #fff;
  background: #161619;
}

.button {
  padding: 5px 25px;
  background-color: #161619;
}

.button a {
  padding: 0;
  background: none;
}

.button, .button a {
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  line-height: 40px;
  border: 1px solid #0072a6;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.button.light, .button a.light {
  color: white;
  background: white;
  border: 1px solid white;
  color: #0072a6;
}

.button.brand, .button a.brand {
  background: #008ED6;
}

.button.darkblue, .button a.darkblue {
  background: #002f6c;
  border-color: #002f6c;
}

.button.midblue, .button a.midblue {
  background: #0072a6;
}

.button.outline, .button a.outline {
  color: #000;
  background: none;
  border: 1px solid #000;
}

.button.outline.light, .button a.outline.light {
  color: white;
  border-color: white;
  background: none;
}

.button.outline.midblue, .button a.outline.midblue {
  border-color: #0072a6;
  color: #0072a6;
}

.button.large, .button a.large {
  line-height: 60px;
  padding: 0 80px;
}

.button.large.rounded, .button a.large.rounded {
  border-radius: 30px;
}

.button.medium, .button a.medium {
  line-height: 50px;
  padding: 0 65px;
  font-size: 16px;
}

.button.medium.rounded, .button a.medium.rounded {
  border-radius: 25px;
}

.button.small, .button a.small {
  line-height: 32px;
  padding: 5px 25px;
  font-size: 14px;
}

.button.small.rounded, .button a.small.rounded {
  border-radius: 16px;
}

.button.rounded, .button a.rounded {
  border-radius: 20px;
}

.button.alt, .button a.alt {
  color: #008ED6;
  border: 1px solid;
  background: transparent;
}

.button.alt:hover, .button a.alt:hover {
  color: #fff;
  border-color: #161619;
  background: #161619;
}

.dbd-button, .dbd-button a {
  font-size: 16px;
  font-size: 1rem;
  display: inline-block;
  position: relative;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.dbd-button.large, .dbd-button a.large {
  font-size: 14px;
  font-size: 0.875rem;
}

.dbd-button.button-normal:hover, .dbd-button a.button-normal:hover {
  background: #7f8487;
}

.dbd-button.button-normal.text-light, .dbd-button a.button-normal.text-light {
  color: #161619;
  background-color: #fff;
}

.dbd-button.button-normal.text-light:hover, .dbd-button a.button-normal.text-light:hover {
  -webkit-box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.1);
}

.dbd-button.button-outline, .dbd-button a.button-outline {
  color: #161619;
  font-weight: 400;
  line-height: 38px;
  border: 1px solid;
  background: transparent;
}

.dbd-button.button-outline a, .dbd-button a.button-outline a {
  color: #161619;
}

.dbd-button.button-outline:hover, .dbd-button a.button-outline:hover {
  color: #7f8487;
}

.dbd-button.button-outline.text-light, .dbd-button a.button-outline.text-light {
  color: #fff;
}

.dbd-button.button-outline.large, .dbd-button a.button-outline.large {
  line-height: 58px;
  font-weight: 500;
}

.dbd-button.button-outline.medium, .dbd-button a.button-outline.medium {
  line-height: 48px;
}

.dbd-button.button-outline.small, .dbd-button a.button-outline.small {
  line-height: 32px;
}

.dbd-button.button-underline, .dbd-button a.button-underline {
  text-transform: none;
  font-weight: 500;
  padding-bottom: 5px;
}

.dbd-button.button-underline:after, .dbd-button a.button-underline:after {
  content: "";
  border-bottom: 2px solid;
  position: absolute;
  bottom: 0;
}

.dbd-button.button-underline.large, .dbd-button a.button-underline.large {
  font-size: 18px;
  font-size: 1.125rem;
  padding-bottom: 4px;
}

.dbd-button.button-underline.medium, .dbd-button a.button-underline.medium {
  font-size: 16px;
  font-size: 1rem;
}

.dbd-button.button-underline.normal, .dbd-button a.button-underline.normal {
  font-size: 16px;
  font-size: 1rem;
  padding-bottom: 6px;
}

.dbd-button.button-underline.small, .dbd-button a.button-underline.small {
  font-size: 14px;
  font-size: 0.875rem;
}

.dbd-button.button-underline.underline-full:after, .dbd-button a.button-underline.underline-full:after {
  width: 100%;
  left: 0;
}

.dbd-button.button-underline.underline-small:after, .dbd-button a.button-underline.underline-small:after {
  width: 20px;
  -webkit-transition: width 0.4s;
  transition: width 0.4s;
}

.dbd-button.button-underline.underline-left:after, .dbd-button a.button-underline.underline-left:after {
  left: 0;
}

.dbd-button.button-underline.underline-center:after, .dbd-button a.button-underline.underline-center:after {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.dbd-button.button-underline.underline-right:after, .dbd-button a.button-underline.underline-right:after {
  right: 0;
}

.dbd-button.button-underline.underline-small:hover:after, .dbd-button a.button-underline.underline-small:hover:after {
  width: 100%;
}

.dbd-button.align-left, .dbd-button a.align-left {
  float: left;
}

.dbd-button.align-right, .dbd-button a.align-right {
  float: right;
}

.dbd-button-wrapper.text-center {
  text-align: center;
}

.contact-form {
  background: white;
}

.contact-form .gf_stylespro .gf_progressbar_title, .contact-form .gf_stylespro .gsection_title {
  font-size: 20px;
  font-weight: 700;
}

.contact-form .gf_stylespro.sp_material {
  font-family: 'Spoqa Han Sans';
  color: #008ED6;
  font-size: 14px;
}

.contact-form .gf_stylespro.sp_material .button, .contact-form .gf_stylespro.sp_material .gfield_label {
  font-family: 'Spoqa Han Sans';
  color: #008ED6;
}

.contact-form .gf_stylespro.sp_material .button.gform_button {
  font-size: 16px;
}

@media (max-width: 992px) {
  .contact-form {
    padding: 0 16px;
  }
  .contact-form .gf_stylespro .gf_progressbar_title, .contact-form .gf_stylespro .gsection_title {
    font-size: 18px;
  }
}

/*layout*/
.site-header {
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  background: white;
}

.site-header .container-fluid, .site-header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.site-header.transparent {
  position: absolute;
  width: 100%;
  z-index: 999;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: none;
}

.site-header.transparent.transparent-hover {
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.site-header.transparent.transparent-hover.text-dark:hover {
  background: #fff;
}

.site-header.transparent.transparent-hover.text-light:hover {
  background: #161619;
}

.site-header.sticky {
  position: fixed;
  top: 0;
  z-index: 1500;
  width: 100%;
}

.site-header.sticky.transparent.text-dark {
  background-color: white;
}

.site-header.sticky.transparent.text-light {
  background-color: rgba(0, 0, 0, 0.7);
}

.header-main {
  height: 50px;
}

.header-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.header-items > * {
  position: relative;
  z-index: 100;
}

.header-left-items {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: left;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.header-left-items > * {
  margin-right: 30px;
}

.header-left-items > *:last-child {
  margin-right: 0;
}

.header-left-items .main-navigation {
  margin-left: 20px;
}

.header-left-items .main-navigation:first-child {
  margin-left: 0;
}

.header-left-items .hamburger-menu:first-child {
  margin-right: 34px;
}

.no-center .has-menu {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

.no-sides .header-center-items {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.header-center-items {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-center-items > * {
  margin: 0 17px;
}

.header-right-items {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: right;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header-right-items > * {
  margin-left: 30px;
}

.header-right-items > *:first-child {
  margin-left: 0;
}

.header-right-items .main-navigation {
  margin-right: 20px;
}

.header-right-items .main-navigation:last-child {
  margin-right: 0;
}

.has-menu > * {
  position: static;
}

@media (max-width: 1199px) {
  .topbar, .header-main, .header-bottom {
    display: none;
  }
}

.site-branding {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  position: relative;
  z-index: 100;
}

.site-branding .logo {
  position: relative;
  display: block;
  line-height: 1;
}

.site-branding .logo:hover {
  text-decoration: none;
}

.site-branding .logo img {
  display: inline-block;
  vertical-align: middle;
  max-height: 45px;
}

.site-branding .logo svg {
  fill: currentColor;
  vertical-align: middle;
}

.site-branding .logo-light {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
}

@media (max-width: 992px) {
  .site-branding .logo img {
    max-height: 15px;
  }
}

.header-mobile {
  height: 60px;
}

.header-mobile .container-fluid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.header-mobile button {
  line-height: inherit;
  padding: 0;
  background: transparent;
}

.header-mobile.logo-center .mobile-menu-hamburger,
.header-mobile.logo-center .mobile-header-icons {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.header-mobile.logo-left .site-branding {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 15px;
}

.mobile-header-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.mobile-header-icons > * {
  margin-left: 25px;
}

.mobile-menu-panel hr.divider {
  min-height: 1px;
  margin: 15px 0;
}

.mobile-menu-panel .header-mobile {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.mobile-menu-panel .list-dropdown .dropdown {
  float: right;
  margin-top: 2px;
}

.mobile-menu-panel .list-dropdown .dropdown .current {
  font-weight: 400;
}

.mobile-menu-panel .list-dropdown .dropdown .current:before, .mobile-menu-panel .list-dropdown .dropdown .current:after {
  display: none;
}

.mobile-menu__search-form label {
  display: block;
  position: relative;
}

.mobile-menu__search-form .search-icon {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -13px;
}

.mobile-menu__search-form .search-field {
  font-size: 14px;
  font-size: 0.875rem;
  width: 100%;
  padding: 13px 0 13px 30px;
  border-bottom-width: 1px;
}

.mobile-menu__nav ul {
  margin: 0;
  list-style: none;
  line-height: 1.2;
}

.mobile-menu__nav .menu {
  padding: 0;
}

.mobile-menu__nav .menu > li {
  padding: 15px 0;
}

.mobile-menu__nav .sub-menu {
  padding-left: 30px;
  margin-top: 30px;
  border-left: 1px solid #cdcfd0;
  display: none;
}

.mobile-menu__nav .sub-menu > li {
  padding: 15px 0;
}

.mobile-menu__nav .sub-menu > li:first-child {
  padding-top: 0;
}

.mobile-menu__nav .sub-menu > li:last-child {
  padding-bottom: 0;
}

.mobile-menu__nav .sub-menu > li > a {
  font-size: 16px;
  font-size: 1rem;
}

.mobile-menu__nav .sub-menu :first-child {
  padding-top: 0;
}

.mobile-menu__nav .sub-menu ul li {
  padding: 10px 0;
}

.mobile-menu__nav .sub-menu ul a {
  font-size: 14px;
  font-size: 0.875rem;
}

.mobile-menu__nav .current-menu-ancestor > .sub-menu,
.mobile-menu__nav .current-menu-item > .sub-menu {
  display: block;
}

.mobile-menu__cart-icon,
.mobile-menu__wishlist-icon {
  float: right;
  margin-top: 4px;
}

.mobile-menu__cart-icon .counter,
.mobile-menu__wishlist-icon .counter {
  vertical-align: 4px;
}

.site-footer {
  background: #f5f5f5;
}

.site-footer .footer-widget {
  padding: 2.5rem 0;
}

.site-footer .footer-widget .widget-title {
  font-weight: 700;
  margin-bottom: 16px;
}

.site-footer .footer-widget .menu {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 15px;
}

.site-footer .footer-widget .menu li {
  margin-bottom: 10px;
}

.site-footer .footer-widget .widget-content p {
  margin-bottom: 4px;
  font-size: 14px;
}

.site-footer .footer-widget .widget-content p .key {
  display: inline-block;
  width: 20%;
}

.site-footer .footer-copyright {
  padding: 2.5rem 0;
  background: #f5f5f5;
  font-size: 14px;
}

.site-footer .footer-copyright span {
  display: inline-block;
  margin-right: 12px;
}

.home-page-header {
  padding: 35vh 0;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.home-page-header .home-page-header-content {
  position: relative;
  z-index: 99;
}

.home-page-header .home-page-header-content h2 {
  font-size: 48px;
  letter-spacing: -1px;
}

.home-page-header:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.75);
  z-index: 9;
}

.page-header-top {
  background: #0072a6;
  color: white;
  padding: 10px 0;
}

.page-header-top h4 {
  line-height: 32px;
  padding: 5px 0;
}

.page-header {
  background: #f5f5f5;
  background-size: cover;
}

.page-header .page-header-logo {
  margin-bottom: 20px;
  line-height: 90px;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-header .page-header-logo img {
  max-height: 90px;
  display: inline-block;
  margin-right: 24px;
}

.page-header .page-header-logo span {
  font-size: 60px;
  font-weight: 600;
  line-height: 90px;
  height: 90px;
  display: inline-block;
}

.page-header .page-header-title {
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #161619;
  color: white;
}

section {
  padding: 4rem 0;
}

section .section-title {
  margin-bottom: 2rem;
}

main {
  padding-top: 50px;
  padding-bottom: 50px;
}

main section h4, main section h5 {
  margin: 10px 0;
}

main section ul {
  padding-left: 16px;
  margin: 16px 0;
}

main section p {
  margin-top: 16px;
}

main section:first-child {
  padding-top: 0;
}

main section:last-child {
  border: none;
}

/*loop**/
.loop {
  margin-bottom: 2rem;
}

.loop .loop-image {
  margin-bottom: 0.5rem;
}

.loop .loop-content p {
  font-size: 1rem;
  margin-top: 0.5rem;
}

/*nav**/
.nav-menu,
.nav-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu ul {
  white-space: nowrap;
  position: absolute;
  left: -20px;
  top: 100%;
  opacity: 0;
  padding: 20px 0;
  background: #fff;
  -webkit-transform: translate(0, 20px);
          transform: translate(0, 20px);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
  z-index: 1000;
  pointer-events: none;
}

.nav-menu li {
  display: inline-block;
  position: relative;
}

.nav-menu li:hover > ul {
  opacity: 1;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  pointer-events: initial;
}

.nav-menu li li {
  text-align: left;
  display: block;
  padding: 15px 40px;
}

.nav-menu li li ul {
  left: 100%;
  top: -20px;
  -webkit-transform: translate(10px, 0);
          transform: translate(10px, 0);
}

.nav-menu > li {
  padding: 0 12.5px;
}

.nav-menu > li:first-child {
  padding-left: 0;
}

.nav-menu > li:last-child {
  padding-right: 0;
}

.nav-menu a {
  display: block;
}

.nav-menu ul a {
  display: inline-block;
}

.page-header-nav {
  background: #161619;
}

.page-header-nav-menu {
  text-align: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-header-nav-menu li {
  display: inline-block;
  margin: 0 15px;
}

.page-header-nav-menu a {
  color: white;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 25px 0 25px;
}

.page-header-nav-menu a:after {
  border-bottom-width: 2px;
  border-bottom-color: white;
}

.page-header-nav-menu a:hover {
  color: white;
}

.page-header-nav-menu a:after {
  border-bottom-width: 2px;
}

.page-header-nav-menu .current-menu-item > a {
  color: white;
  font-weight: 700;
}

.page-header-nav-menu .current-menu-item > a:after {
  width: 100%;
}

.hamburger-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.hamburger-navigation li {
  font-size: 32px;
  font-size: 2rem;
  line-height: 1;
  padding: 25px 0;
  display: block;
  position: static;
}

.hamburger-navigation li ul {
  white-space: nowrap;
  position: absolute;
  top: 0;
  min-height: 100%;
  left: 100%;
  padding: 0 0 0 140px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-transform: translateX(-30px);
          transform: translateX(-30px);
  pointer-events: none;
}

.hamburger-navigation li li {
  font-size: 18px;
  font-size: 1.125rem;
  padding: 13px 0;
}

.hamburger-navigation li li ul {
  position: static;
  padding: 10px 0 0 20px;
  visibility: visible;
  opacity: 1;
  -webkit-transform: none;
          transform: none;
  display: none;
  -webkit-transition: none;
  transition: none;
}

.hamburger-navigation li li li {
  font-size: 14px;
  font-size: 0.875rem;
  padding: 10px 0;
}

.hamburger-navigation li li li:last-child {
  padding-bottom: 0;
}

.hamburger-navigation li li a {
  padding-bottom: 4px;
}

.hamburger-navigation .menu {
  display: inline-block;
  position: relative;
  height: 100%;
}

.hamburger-navigation .menu > li > a {
  display: block;
  position: relative;
}

.hamburger-navigation .menu > li > a:before {
  content: "";
  display: block;
  width: 0;
  position: absolute;
  left: -50px;
  top: 50%;
  margin-top: -1px;
  border-top: 2px solid;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

.hamburger-navigation .menu > li > ul {
  padding-top: 14px;
}

.hamburger-navigation .menu > li > ul.open {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  pointer-events: initial;
}

.hamburger-navigation .menu > li > ul.open ul {
  pointer-events: initial;
}

.hamburger-navigation .menu > li.active > a:before, .hamburger-navigation .menu > li:hover > a:before {
  width: 20px;
}

.hamburger-navigation.hover-open li li ul {
  display: block;
}

.hamburger-navigation.hover-open .menu > li:hover > ul {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  pointer-events: initial;
}

.hamburger-navigation.hover-open .menu > li:hover > ul ul {
  pointer-events: initial;
}

.socials-menu .menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

.socials-menu li {
  display: inline-block;
  padding: 0 12px;
}

.socials-menu li:first-child {
  padding-left: 0;
}

.socials-menu li:last-child {
  padding-right: 0;
}

.socials-menu a:before {
  font: normal normal normal 16px/1 FontAwesome;
  font-size: inherit;
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  line-height: inherit;
}

.socials-menu a[href*="facebook.com"]:before {
  content: "\f09a";
}

.socials-menu a[href*="twitter.com"]:before {
  content: "\f099";
}

.socials-menu a[href*="plus.google.com"]:before {
  content: "\f0d5";
}

.socials-menu a[href*="linkedin.com"]:before {
  content: "\f0e1";
}

.socials-menu a[href*="instagram.com"]:before {
  content: "\f16d";
}

.socials-menu a[href*="yelp.com"]:before {
  content: "\f1e9";
}

.socials-menu a[href*="youtube.com"]:before {
  content: "\f167";
}

.socials-menu a[href*="flickr.com"]:before {
  content: "\f16e";
}

.socials-menu a[href*="pinterest.com"]:before {
  content: "\f231";
}

.socials-menu a[href*="github.com"]:before {
  content: "\f09b";
}

.socials-menu a[href*="vimeo.com"]:before {
  content: "\f27d";
}

.socials-menu a[href*="dribbble.com"]:before {
  content: "\f17d";
}

.socials-menu a[href*="wordpress.com"]:before {
  content: "\f19a";
}

.socials-menu a[href*="tumblr.com"]:before {
  content: "\f173";
}

.socials-menu a[href*="codepen.io"]:before {
  content: "\f1cb";
}

.socials-menu a[href*="skype.com"]:before {
  content: "\f17e";
}

.socials-menu a[href*="reddit.com"]:before {
  content: "\f1a1";
}

.socials-menu a[href*="stumbleupon.com"]:before {
  content: "\f1a4";
}

.socials-menu a[href*="pocket.com"]:before {
  content: "\f265";
}

.socials-menu a[href*="foursquare.com"]:before {
  content: "\f180";
}

.socials-menu a[href*="vk.com"]:before {
  content: "\f189";
}

.socials-menu a[href*="weibo.com"]:before {
  content: "\f18a";
}

.socials-menu a[href*="wechat.com"]:before {
  content: "\f1d7";
}

.socials-menu a[href*="behance.net"]:before {
  content: "\f1b4";
}

.socials-menu a[href*="soundcloud.com"]:before {
  content: "\f1be";
}

.socials-menu a[href*="wa.me"]:before,
.socials-menu a[href*="whatsapp.com"]:before {
  content: "\f232";
}

.socials-menu a[href*="amazon.com"]:before {
  content: "\f270";
}

.socials-menu a[href*="snapchat.com"]:before {
  content: "\f2ab";
}

.socials-menu a[href*="t.me"]:before,
.socials-menu a[href*="telegram.org"]:before {
  content: "\f2c6";
}

.socials-menu a[href*="slack.com"]:before {
  content: "\f198";
}

.blog-header-menu {
  text-align: center;
  padding-bottom: 20px;
}

.blog-header-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.blog-header-menu li {
  display: inline-block;
  margin: 0 30px;
}

.blog-header-menu a {
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 500;
  text-transform: uppercase;
  padding-bottom: 20px;
}

.blog-header-menu a:after {
  border-bottom-width: 2px;
}

.blog-header-menu .current-menu-item > a:after {
  width: 100%;
}

/**********/
.header-right-items li a {
  font-size: 14px;
}

.header-right-items .nav-menu > li {
  padding: 0 10px;
}

.header-right-items .nav-menu > li a {
  font-size: 15px;
}

.comment-navigation .nav-links,
.posts-navigation .nav-links,
.post-navigation .nav-links {
  overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  float: left;
  width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%;
}

.post-navigation {
  padding: 30px 0 30px;
  border-bottom: 1px solid #e1e6f5;
}

.post-navigation a {
  font-size: 16px;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post-navigation .nav-titles {
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1;
  margin: 0 0 20px 0;
  overflow: hidden;
}

.post-navigation .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.post-navigation .nav-links .nav-previous,
.post-navigation .nav-links .nav-next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  word-break: break-word;
}

.post-navigation .nav-links .nav-next {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.post-navigation .nav-links .nav-previous + .nav-next {
  border-left: 1px solid #e1e6f5;
}

.post-navigation .nav-previous {
  padding-right: 30px;
}

.post-navigation .nav-previous img {
  margin-right: 20px;
}

.post-navigation .nav-next {
  padding-left: 30px;
}

.post-navigation .nav-next img {
  margin-left: 20px;
}

.pagination,
.comments-pagination {
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 500;
}

.pagination .svg-icon,
.comments-pagination .svg-icon {
  font-size: 10px;
  font-size: 0.625rem;
}

.pagination .nav-links > a,
.pagination .nav-links > span,
.comments-pagination .nav-links > a,
.comments-pagination .nav-links > span {
  color: #666;
  text-align: center;
  line-height: 3.33333;
  display: inline-block;
  min-width: 3.33333em;
  height: 3.33333em;
  padding: 0 5px;
  margin-right: 6px;
  border: 1px solid #e1e6f5;
}

.pagination .nav-links > a:last-child,
.pagination .nav-links > span:last-child,
.comments-pagination .nav-links > a:last-child,
.comments-pagination .nav-links > span:last-child {
  margin-right: 0;
}

.pagination .nav-links a:hover,
.comments-pagination .nav-links a:hover {
  color: #161619;
  border-color: #161619;
}

.pagination .nav-links .current,
.comments-pagination .nav-links .current {
  color: #fff;
  border-color: #161619;
  background: #161619;
}

.pagination .nav-links .dots,
.comments-pagination .nav-links .dots {
  border: 0;
}

.pagination .nav-links .next,
.pagination .nav-links .prev,
.comments-pagination .nav-links .next,
.comments-pagination .nav-links .prev {
  padding: 0 20px;
}

.pagination .nav-links .next .svg-icon,
.comments-pagination .nav-links .next .svg-icon {
  margin-left: 10px;
}

.pagination .nav-links .prev .svg-icon,
.comments-pagination .nav-links .prev .svg-icon {
  margin-right: 10px;
}

.comments-pagination {
  margin-top: 30px;
}

.next-posts-navigation {
  text-align: center;
  padding-top: 40px;
}

.next-posts-navigation .nav-links {
  display: inline-block;
}

.next-posts-navigation a {
  font-size: 11px;
  font-size: 0.6875rem;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100px;
  height: 100px;
  padding: 10px;
  border-radius: 50%;
  border: 1px solid #e1e6f5;
  vertical-align: middle;
}

.next-posts-navigation a:hover {
  border-color: #161619;
}

.next-posts-navigation a:after {
  content: "";
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  border-radius: 50%;
  border: 1px solid transparent;
  border-top-color: #161619;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
  opacity: 0;
}

.next-posts-navigation a.loading {
  cursor: default;
}

.next-posts-navigation a.loading:hover {
  border-color: #e1e6f5;
}

.next-posts-navigation a.loading:after {
  opacity: 1;
}

.pagination {
  text-align: center;
  margin-top: 75px;
  margin-bottom: 20px;
}

.pagination ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination ul li {
  display: inline-block;
  margin: 0 3px;
}

.pagination ul .page-numbers {
  font-size: 12px;
  font-size: 0.75rem;
  color: #666;
  display: block;
  min-width: 40px;
  padding: 0 5px;
  line-height: 38px;
  border: 1px solid #e1e6f5;
}

.pagination ul .current,
.pagination ul .page-numbers:hover {
  color: #fff;
  border-color: #161619;
  background: #161619;
}

.pagination ul .next,
.pagination ul .prev {
  padding: 0 20px;
}

.pagination ul .svg-icon {
  font-size: 10px;
}

.pagination ul .svg-icon svg {
  vertical-align: -0.1em;
}

.pagination ul .next .svg-icon {
  margin-left: 10px;
  margin-right: -4px;
}

.pagination ul .prev .svg-icon {
  margin-right: 10px;
  margin-left: -4px;
}

.main-navigation {
  height: 100%;
}

.main-navigation .nav-menu {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-navigation .nav-menu > li {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-navigation .nav-menu > li a {
  font-size: 15px;
}

.main-navigation li ul {
  min-width: 180px;
  margin-top: 2px;
  padding: 20px 0;
  left: -40px;
}

.main-navigation li ul:before {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  top: -2px;
  left: 0;
}

.main-navigation li li {
  padding-top: 10px;
  padding-bottom: 10px;
}

.main-navigation li li ul {
  margin: 0 0 0 3px;
}

.main-navigation li li ul:before {
  top: 0;
  left: -3px;
  height: 100%;
  width: 3px;
}

.main-navigation li li a {
  font-size: 16px;
  font-size: 1rem;
}

.main-navigation a {
  font-size: 18px;
  font-size: 1.125rem;
  position: relative;
  z-index: 100;
  font-weight: 400;
}

.main-navigation a:after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -4px;
  width: 0;
  border-bottom: 2px solid;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

.main-navigation a:hover {
  text-decoration: none;
}

.main-navigation a i {
  margin-right: 5px;
}

.main-navigation a:hover:after,
.main-navigation li.menu-item-has-children:hover > a:after {
  width: 100%;
  left: 0;
}

.text-light .main-navigation a {
  color: #fff;
}

.text-light .main-navigation li li span,
.text-light .main-navigation li li a {
  color: #000;
}

.hamburger-menu {
  cursor: pointer;
}

.hamburger-menu .hamburger-box {
  display: inline-block;
  vertical-align: -1px;
  position: relative;
  width: 20px;
  height: 12px;
  padding: 0;
  border: 0;
  background: transparent;
}

.hamburger-menu .hamburger-box .hamburger-inner {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -1px;
  width: 100%;
  height: 2px;
  background: #161619;
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

.hamburger-menu .hamburger-box .hamburger-inner:before, .hamburger-menu .hamburger-box .hamburger-inner:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: inherit;
}

.hamburger-menu .hamburger-box .hamburger-inner:before {
  top: -5px;
  -webkit-transition: top 0.2s ease .22s, opacity 0.2s ease, width 0.2s ease;
  transition: top 0.2s ease .22s, opacity 0.2s ease, width 0.2s ease;
}

.hamburger-menu .hamburger-box .hamburger-inner:after {
  bottom: -5px;
  -webkit-transition: bottom 0.2s ease .22s, width 0.2s ease, -webkit-transform 0.2s ease;
  transition: bottom 0.2s ease .22s, width 0.2s ease, -webkit-transform 0.2s ease;
  transition: bottom 0.2s ease .22s, transform 0.2s ease, width 0.2s ease;
  transition: bottom 0.2s ease .22s, transform 0.2s ease, width 0.2s ease, -webkit-transform 0.2s ease;
}

.hamburger-menu .menu-text {
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 600;
  vertical-align: middle;
  display: inline-block;
  opacity: 0;
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
  -webkit-transition: opacity 0.2s ease, -webkit-transform 0.2s ease;
  transition: opacity 0.2s ease, -webkit-transform 0.2s ease;
  transition: opacity 0.2s ease, transform 0.2s ease;
  transition: opacity 0.2s ease, transform 0.2s ease, -webkit-transform 0.2s ease;
}

.hamburger-menu.focus .hamburger-inner:before,
.hamburger-menu:hover .hamburger-inner:before {
  width: 80%;
}

.hamburger-menu.focus .hamburger-inner:after,
.hamburger-menu:hover .hamburger-inner:after {
  width: 90%;
}

.hamburger-menu.active .hamburger-inner {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition-delay: 0.22s;
          transition-delay: 0.22s;
}

.hamburger-menu.active .hamburger-inner:before {
  top: 0;
  opacity: 0;
  width: 100%;
  -webkit-transition: top 0.2s ease, opacity 0.2s ease .22s, width 0.1s ease;
  transition: top 0.2s ease, opacity 0.2s ease .22s, width 0.1s ease;
}

.hamburger-menu.active .hamburger-inner:after {
  bottom: 0;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  width: 100%;
  -webkit-transition: bottom 0.2s ease, width 0.1s ease, -webkit-transform 0.2s ease .22s;
  transition: bottom 0.2s ease, width 0.1s ease, -webkit-transform 0.2s ease .22s;
  transition: bottom 0.2s ease, transform 0.2s ease .22s, width 0.1s ease;
  transition: bottom 0.2s ease, transform 0.2s ease .22s, width 0.1s ease, -webkit-transform 0.2s ease .22s;
}

.hamburger-menu.active .menu-text {
  -webkit-transition-delay: 0.42s;
          transition-delay: 0.42s;
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.hamburger-menu.active .menu-text + .hamburger-box {
  margin-left: 4px;
}

.text-light .hamburger-menu .hamburger-inner {
  background-color: #fff;
}

.hamburger-fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2000;
  display: none;
  background: #fff;
}

.hamburger-fullscreen .button-close {
  position: absolute;
  top: 46px;
  left: 60px;
  z-index: 100;
}

.hamburger-fullscreen .hamburger-screen-inner {
  position: relative;
  width: 100%;
  height: 100%;
}

.hamburger-fullscreen .site-branding {
  position: absolute;
  left: 50%;
  top: 48px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.hamburger-fullscreen .social-icons {
  position: fixed;
  left: 60px;
  bottom: 60px;
}

.hamburger-fullscreen .social-icons li {
  display: block;
  margin: 10px 0 0 0;
  padding: 0;
}

.hamburger-fullscreen .social-icons a {
  color: #a2a5a6;
  font-size: 12px;
  text-align: center;
  line-height: 28px;
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #e1e6f5;
}

.hamburger-fullscreen .social-icons a:hover {
  color: #161619;
  border-color: #161619;
}

.hamburger-fullscreen .fullscreen-footer {
  font-size: 14px;
  font-size: 0.875rem;
  color: #686b6c;
  padding: 10px 0 50px 0;
  margin-top: 0;
  justify-self: flex-end;
}

.hamburger-fullscreen .currency {
  margin-right: 40px;
}

.hamburger-fullscreen .menu > li,
.hamburger-fullscreen .widget,
.hamburger-fullscreen .currency,
.hamburger-fullscreen .language {
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
}

.hamburger-fullscreen.open .menu > li,
.hamburger-fullscreen.open .widget,
.hamburger-fullscreen.open .currency,
.hamburger-fullscreen.open .language {
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
}

.hamburger-fullscreen.content-animation-fade.open .menu > li,
.hamburger-fullscreen.content-animation-fade.open .widget,
.hamburger-fullscreen.content-animation-fade.open .currency,
.hamburger-fullscreen.content-animation-fade.open .language {
  -webkit-animation-duration: 0.85s;
          animation-duration: 0.85s;
}

.hamburger-fullscreen.content-animation-slide .menu > li,
.hamburger-fullscreen.content-animation-slide .widget,
.hamburger-fullscreen.content-animation-slide .currency,
.hamburger-fullscreen.content-animation-slide .language {
  -webkit-animation-name: fadeOutUp;
          animation-name: fadeOutUp;
}

.hamburger-fullscreen.content-animation-slide.open .menu > li,
.hamburger-fullscreen.content-animation-slide.open .widget,
.hamburger-fullscreen.content-animation-slide.open .currency,
.hamburger-fullscreen.content-animation-slide.open .language {
  -webkit-animation-name: fadeInDown;
          animation-name: fadeInDown;
}

.hamburger-screen-content,
.hamburger-screen-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
}

.hamburger-screen-background {
  left: auto;
  right: 0;
  background-repeat: no-repeat;
  background-size: cover;
}

.hamburger-screen-content {
  padding: 70px 50px 10px 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: auto;
}

.hamburger-screen-content .hamburger-navigation {
  padding: 100px 0 0 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.hamburger-screen-content .fullscreen-widgets {
  padding: 100px 100px 0 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: auto;
}

.hamburger-screen-content .list-dropdown .current {
  color: #000;
}

.hamburger-screen-content .ps__rail-y {
  right: auto !important;
  left: 0;
}

/*parts**/
.timeline p {
  margin-bottom: 0;
}

.timeline h4 {
  margin-top: 24px;
}

.timeline h4:first-child {
  margin-top: 0;
}

.bg-media {
  position: absolute;
  z-index: 9;
  min-width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
}

.section-banner {
  background-position: center center;
  background-size: cover;
  padding: 120px 0;
  position: relative;
  color: white;
}

.section-banner:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.25);
  z-index: 9;
}

.section-banner h4, .section-banner p {
  position: relative;
  z-index: 99;
  color: white;
}

main.sheet {
  position: relative;
  font-size: 12px;
}

.estimate-header {
  text-align: right;
}

.estimate-header .logo {
  font-size: 20px;
  font-weight: 600;
  position: relative;
}

.estimate-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 15mm 10mm;
  font-size: 11px;
}

.estimate-footer ul.contact {
  list-style: none;
  padding: 0;
}

.estimate-footer ul.contact li span {
  display: inline-block;
  width: 24px;
  font-weight: 600;
}

.estimate-footer .addr {
  position: relative;
}

.estimate-footer .addr .stamp {
  position: absolute;
  width: 64px;
  height: 64px;
  bottom: -8px;
  right: 12px;
}

.estimate-footer .addr h6 {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 4px;
}

.cover .estimate-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: calc(100% - 15mm);
}

.cover .estimate-main .title {
  margin-bottom: 40px;
  font-weight: 600;
}

.cover .estimate-main .info {
  list-style: none;
  padding: 0;
}

.cover .estimate-main .info li {
  font-size: 14px;
  margin-bottom: 4px;
}

.cover .estimate-main .date {
  margin-top: 32px;
  font-size: 14px;
}

.cover .estimate-footer .stamp {
  display: none;
}

.estimate-main .client {
  padding-top: 100px;
  padding-bottom: 32px;
}

.estimate-main .client h6 {
  font-weight: 600;
  font-size: 14px;
}

.estimate-main .client ul {
  list-style: none;
  padding: 0;
}

.estimate-main .client ul li {
  line-height: 1.75;
}

.estimate-main .detail .side {
  padding-top: 12px;
  font-size: 14px;
}

.estimate-main .detail .side .date {
  margin-top: 24px;
}

.estimate-main .detail .table ul {
  margin-top: 8px;
  padding-left: 20px;
}

.estimate-main .detail .table .cost {
  text-align: right;
}

.estimate-main .detail .misc {
  margin-top: 24px;
  padding: 10px;
  background: #f0f0f0;
}

.single-presentation ul.keyvalue {
  padding: 0;
}

.single-presentation ul.keyvalue li {
  list-style: none;
}

.single-presentation ul.keyvalue li span {
  display: inline-block;
  min-width: 175px;
  font-weight: 600;
}

.pt-header {
  padding-top: 100px;
  padding-bottom: 100px;
}

.pt-header h2 {
  line-height: 1.5;
}

.pt-header p {
  line-height: 1.75;
}

.pt-cover {
  background: #161619;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pt-cover .cover-header {
  border-top: 4px solid #fff;
  padding-top: 48px;
}

.pt-cover .cover-header h1 {
  margin-bottom: 24px;
}

.pt-cover .cover-footer ul.keyvalue {
  position: relative;
  padding-right: 12px;
  display: inline-block;
}

.pt-cover .cover-footer ul.keyvalue:before {
  content: "";
  position: absolute;
  top: -24px;
  left: 0;
  width: 72px;
  height: 4px;
  background: #fff;
}

.pt-cover .cover-footer ul.keyvalue li {
  margin-top: 10px;
}

.pt-cover .cover-footer ul.keyvalue li span {
  min-width: 100px;
}

.pt-fact .pt-main {
  margin-top: 50px;
}

.pt-fact .pt-main ul.keyvalue {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

.pt-fact .pt-main ul.keyvalue li {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  margin-bottom: 12px;
}

.pt-fact .pt-main ul.keyvalue li span {
  min-width: 150px;
}

.pt-service .pt-header {
  padding-bottom: 80px;
}

.pt-service .loop {
  text-align: center;
}

.pt-client {
  background: #f0f0f0;
}

.pt-client .pt-header {
  padding-top: 50px;
  padding-bottom: 10px;
}

.pt-client .pt-main ul.client_list {
  padding: 24px 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: white;
}

.pt-client .pt-main ul.client_list li {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20%;
          flex: 0 0 20%;
}

.pt-client .pt-main ul.client_list li a {
  display: block;
  padding: 0 32px;
  min-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pt-founder .pt-header {
  padding-bottom: 70px;
}

.pt-founder .pt-main {
  position: relative;
}

.pt-founder .pt-main ul.keyvalue li {
  margin-bottom: 16px;
}

.pt-founder .pt-main ul.keyvalue li span {
  min-width: 120px;
}

.pt-founder .pt-main .image {
  top: -40px;
  right: 20%;
  position: absolute;
  width: 25%;
}

.pt-founder .pt-main .image img {
  border-radius: 50%;
}

.pt-project-cover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #161619;
  color: white;
}

.pt-project-single {
  position: relative;
  background: #161619;
  color: white;
}

.pt-project-single .pt-header {
  padding: 0;
  position: absolute;
  top: 15mm;
  left: 10mm;
  width: 100%;
}

.pt-project-single .pt-header h2 {
  margin: 0;
}

.pt-project-single .pt-header h5 {
  margin-bottom: 12px;
}

.pt-project-single .pt-header p {
  margin-top: 4px;
  font-size: 14px;
}

.pt-project-single .pt-footer {
  position: absolute;
  bottom: 15mm;
  left: 10mm;
  width: 100%;
}

.pt-project-single .pt-main {
  width: 100%;
  height: 100%;
}

.pt-project-single .pt-main .screen {
  position: absolute;
}

.pt-project-single .pt-main .screen img {
  width: 100%;
}

.pt-project-single .pt-main .screen-mobile {
  width: 20%;
  left: 25%;
  bottom: 0;
  z-index: 3;
}

.pt-project-single .pt-main .screen-primary {
  width: 72%;
  left: 25%;
  top: 20%;
  z-index: 2;
  -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4);
}

.pt-project-single .pt-main .screen-secondary {
  width: 40%;
  top: 0;
  right: 0;
  z-index: 1;
}
/*# sourceMappingURL=main.css.map */