html.wf-loading * {
    opacity: 0;
}

// @import './base/_cursor.scss';
@import './base/_init.scss';
@import './base/_scroll.scss';
@import './base/_typography.scss';

@import './component/_component.scss';


// @import './layout/_loader.scss';
// @import './layout/_page-header.scss';
@import './layout/_page-main.scss';
@import './layout/_panel.scss';
@import './layout/_site-footer.scss';
@import './layout/_site-header.scss';

@import './page/_archive-project.scss';
@import './page/_page-about.scss';
@import './page/_page-contact.scss';
@import './page/_page-home.scss';
@import './page/_proposal.scss';


// @import "./paper/estimate";
// @import "./paper/presentation";
// @import "./page/proposal";





img{
    max-width:100%;
    height:auto;
}

