.loader {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    padding: 20px;
    z-index: 9999;
    opacity:0;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}


.loader_inner {
    .loader_title {
        img {
            width: 300px;
        }
        margin-bottom:50px;
    }
    .loader_progress {
        background:red;
        width:100%;
        .progress_bar {
            width: 100%;
            height: 100px;
            background: white;
        }
    }
}