.page-header{
    position:relative;
    flex-direction:column;
    justify-content: center;
    padding-top:100px;
    padding-left:var(--h-gutter);
    padding-right:var(--h-gutter);
    h1{
        position:relative;
        z-index:3;
        padding-top:50px;
        margin:0;
    }
    .image{
        position:absolute;
        right:0;
        top:-10rem;
        z-index:1;
    }
}
