.site-header{
    position:fixed;
    top:0;
    width:100%;
    z-index:999;
    height:calc(2vw + 4rem);
    padding : 0 calc( var(--h-gutter) + 15px) ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // opacity:0;
    // visibility:hidden;
    .logo {
        .logo__symbol{
            img{
                height:44px;
            }
        }
        .logo__text{
            font-size: calc( 0.4vw + 2.0rem);
            letter-spacing:-0.5px;
            display:inline-block;
            transition:color 0.3s;
            strong{
                font-weight:600;
            }
        }
    }
    nav{
        ul{
            display: flex; 
            li{
                &.current-menu-item{
                    a{
                        opacity:1;
                    }
                }
                a{
                    font-size: calc( 0.1vw + 2.0rem);
                    padding: 0 2rem;
                    pointer-events: auto;
                    line-height: 1.1;
                    display: inline-block;
                    opacity:0.8;
                }
            }
        }
    }
}

.has-nav-open{
    .site-header{
        .logo{
            .logo__text{
                color:white;
            }
        }
   
    }



}
@media (max-width: 992px) {
    .site-header  {
        padding : 0 calc( var(--h-gutter)) ;
        nav{
            display:none;
        }
        

        .logo {
            .logo__symbol{
                img{
                    height:32px;
                }
            }
    
        }

    }


}


.burger {
    display:none;
    cursor: pointer;
    width: 2.5rem;
    height:1.8rem;
    margin-top:0.6rem;
    z-index: 999;
    .line1,
    .line2,
    .line3 {
        display:block;
        width: 100%;
        height: 0.2rem;
        margin: 0.4rem 0;
        background: black;
        pointer-events: none;
    }
  }

  @media (max-width: 992px) {
    .burger {
        display:block;

    }
}