.nav-menu {
	&,
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	ul {
		white-space: nowrap;
		position: absolute;
		left: -20px;
		top: 100%;
		opacity: 0;
		padding: 20px 0;
		background: #fff;
		transform: translate(0, 20px);
		transition: transform 0.3s, opacity 0.3s;
		box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
		z-index: 1000;
		pointer-events: none;
	}

	li {
		display: inline-block;
		position: relative;

		&:hover > ul {
			opacity: 1;
			transform: translate(0, 0);
			pointer-events: initial;
		}
	}

	li li {
		text-align: left;
		display: block;
		padding: 15px 40px;

		ul {
			left: 100%;
			top: -20px;
			transform: translate(10px, 0);
		}
	}

	> li {
        padding: 0 12.5px;


		&:first-child {
			padding-left: 0;
		}

		&:last-child {
			padding-right: 0;
		}
	}

	a {
		display: block;
	}

	ul a {
		display: inline-block;
	}
}


.page-header-nav{
	background:$color__dark;

}
.page-header-nav-menu {
	text-align: center;
	margin: 0;
	padding: 0;
	list-style: none;

	li {
		display: inline-block;
		margin:0 15px;
	}

	a {
		color:white;
		@extend .underline-hover;
		&:after{

			border-bottom-width:2px;
			border-bottom-color:white;
		}
		&:hover{
			color:white;
		}
        font-size:1rem;
		text-transform: uppercase;
		padding: 25px 0 25px;

		&:after {
			border-bottom-width: 2px;
		}
	}
	.current-menu-item > a {
        color:white;
        font-weight:700;
	}
	.current-menu-item > a:after {
		width: 100%;
	}
}

.hamburger-navigation {
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	li {
		@include font-size(32/16);
		line-height: 1;
		padding: 25px 0;
		display: block;
		position: static;

		ul {
			white-space: nowrap;
			position: absolute;
			top: 0;
			min-height: 100%;
			left: 100%;
			padding: 0 0 0 140px;
			opacity: 0;
			visibility: hidden;
			transition: 0.3s ease;
			transform: translateX(-30px);
			pointer-events: none;
		}

		li {
			@include font-size(18/16);
			padding: 13px 0;

			ul {
				position: static;
				padding: 10px 0 0 20px;
				visibility: visible;
				opacity: 1;
				transform: none;
				display: none;
				transition: none;
			}

			li {
				@include font-size(14/16);
				padding: 10px 0;

				&:last-child {
					padding-bottom: 0;
				}
			}

			a {
				@extend .underline-hover;
				padding-bottom: 4px;
			}
		}
	}

	.menu {
		display: inline-block;
		position: relative;
		height: 100%;

		> li {
			> a {
				display: block;
				position: relative;

				&:before {
					content: "";
					display: block;
					width: 0;
					position: absolute;
					left: -50px;
					top: 50%;
					margin-top: -1px;
					border-top: 2px solid;
					transition: width 0.3s;
				}
			}

			> ul {
				padding-top: 14px;

				&.open {
					visibility: visible;
					opacity: 1;
					transform: translateX(0);
					pointer-events: initial;

					ul {
						pointer-events: initial;
					}
				}
			}

			&.active,
			&:hover {
				> a:before {
					width: 20px;
				}
			}
		}
	}

	&.hover-open {
		li li ul {
			display: block;
		}

		.menu > li:hover > ul {
			visibility: visible;
			opacity: 1;
			transform: translateX(0);
			pointer-events: initial;

			ul {
				pointer-events: initial;
			}
		}
	}
}

.socials-menu {
	.menu {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	li {
		display: inline-block;
		padding: 0 12px;

		&:first-child {
			padding-left: 0;
		}

		&:last-child {
			padding-right: 0;
		}
	}

	a:before {
		font: normal normal normal 16px/1 FontAwesome;
		font-size: inherit;
		display: inline-block;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		position: relative;
		line-height: inherit;
	}

	span {
		@extend .screen-reader-text;
	}

	a[href*="facebook.com"]:before {
		content: "\f09a";
	}

	a[href*="twitter.com"]:before {
		content: "\f099";
	}

	a[href*="plus.google.com"]:before {
		content: "\f0d5";
	}

	a[href*="linkedin.com"]:before {
		content: "\f0e1";
	}

	a[href*="instagram.com"]:before {
		content: "\f16d";
	}

	a[href*="yelp.com"]:before {
		content: "\f1e9";
	}

	a[href*="youtube.com"]:before {
		content: "\f167";
	}

	a[href*="flickr.com"]:before {
		content: "\f16e";
	}

	a[href*="pinterest.com"]:before {
		content: "\f231";
	}

	a[href*="github.com"]:before {
		content: "\f09b";
	}

	a[href*="vimeo.com"]:before {
		content: "\f27d";
	}

	a[href*="dribbble.com"]:before {
		content: "\f17d";
	}

	a[href*="wordpress.com"]:before {
		content: "\f19a";
	}

	a[href*="tumblr.com"]:before {
		content: "\f173";
	}

	a[href*="codepen.io"]:before {
		content: "\f1cb";
	}

	a[href*="skype.com"]:before {
		content: "\f17e";
	}

	a[href*="reddit.com"]:before {
		content: "\f1a1";
	}

	a[href*="stumbleupon.com"]:before {
		content: "\f1a4";
	}

	a[href*="pocket.com"]:before {
		content: "\f265";
	}

	a[href*="foursquare.com"]:before {
		content: "\f180";
	}

	a[href*="vk.com"]:before {
		content: "\f189";
	}

	a[href*="weibo.com"]:before {
		content: "\f18a";
	}

	a[href*="wechat.com"]:before {
		content: "\f1d7";
	}

	a[href*="behance.net"]:before {
		content: "\f1b4";
	}

	a[href*="soundcloud.com"]:before {
		content: "\f1be";
	}

	a[href*="wa.me"]:before,
	a[href*="whatsapp.com"]:before {
		content: "\f232";
	}

	a[href*="amazon.com"]:before {
		content: "\f270";
	}

	a[href*="snapchat.com"]:before {
		content: "\f2ab";
	}

	a[href*="t.me"]:before,
	a[href*="telegram.org"]:before {
		content: "\f2c6";
	}

	a[href*="slack.com"]:before {
		content: "\f198";
	}
}


.blog-header-menu {
	text-align: center;
	padding-bottom: 20px;

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	li {
		display: inline-block;
		margin: 0 30px;
	}

	a {
		@extend .underline-hover;
		@include font-size(14/16);
		font-weight: 500;
		text-transform: uppercase;
		padding-bottom: 20px;

		&:after {
			border-bottom-width: 2px;
		}
	}

	.current-menu-item > a:after {
		width: 100%;
	}
}


/**********/
.header-right-items{
    li{
        a{
            font-size:14px;
        }
    }
    .nav-menu>li{
        padding:0 10px;
        a{
            //font-weight:700;
            font-size:15px;
            
        }
    }
}