button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	@include font-size(14/16);
	color: #fff;
	font-weight: 600;
	line-height: 60px;
	border: 0;
	border-radius: 0;
	padding: 0 40px;
	background: $color__dark;
	transition: 0.4s;

	&.alt {
		color: $color__dark;
		border: 1px solid $color__dark;
		background: transparent;

		&:hover {
			color: #fff;
			background: $color__dark;
		}
	}
}
.button{
	padding: 5px 25px;
	background-color: $color__dark;
}
.button a{
	padding: 0;
	background:none;
}
.button, .button a {
	@include font-size(14/16);
	font-weight: 500;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	display: inline-block;
	
	line-height: 40px;
	border:1px solid $color__midblue;
	
	cursor: pointer;
	transition: 0.4s;

	&.light{
		color:white;
		background:white;
		border:1px solid white;
		color:$color__midblue;
	}
	&.brand{
		background:$color__brand;
	}
	&.darkblue{
		background:$color__darkblue;
		border-color:$color__darkblue;
	}
	&.midblue{
		background:$color__midblue;
	}
	&.outline{
		color:$color__darker;
		background:none;
		border:1px solid $color__darker;
		&.light{
			color:white;
			border-color:white;
			background:none;
		}
		&.midblue{
			border-color:$color__midblue;
			color:$color__midblue;
		}
	}
	&.large {
		line-height: 60px;
		padding: 0 80px;

		&.rounded {
			border-radius: 30px;
		}
	}

	&.medium {
		line-height: 50px;
		padding: 0 65px;
		font-size:16px;

		&.rounded {
			border-radius: 25px;
		}
	}

	&.small {
		line-height: 32px;
		padding: 5px 25px;
		font-size:14px;

		&.rounded {
			border-radius: 16px;
		}
	}

	&.rounded {
		border-radius: 20px;
	}

	&.alt {
		color: $color__brand;
		border: 1px solid;
		background: transparent;

		&:hover {
			color: #fff;
			border-color: $color__dark;
			background: $color__dark;
		}
	}
}

.dbd-button, .dbd-button a {
	@include font-size(16/16);

	display: inline-block;
	position: relative;
	transition: 0.4s;

	&.large {
		@include font-size(14/16);
	}

	&.button-normal {
		&:hover {
			background: #7f8487;
		}

		&.text-light {
			color: $color__dark;
			background-color: #fff;

			&:hover {
				box-shadow: 0 4px 16px 0 rgba(0,0,0,0.1);
			}
		}
	}

	&.button-outline {
		color: $color__dark;
		font-weight: 400;
		line-height: 38px;
		border: 1px solid;
		background: transparent;
		a{
			color: $color__dark;	
		}

		&:hover {
			color: #7f8487;
		}

		&.text-light {
			color: #fff;
		}

		&.large {
			line-height: 58px;
			font-weight: 500;
		}

		&.medium {
			line-height: 48px;
		}

		&.small {
			line-height: 32px;
		}
	}

	&.button-underline {
		text-transform: none;
		font-weight: 500;
		padding-bottom: 5px;

		&:after {
			content: "";
			border-bottom: 2px solid;
			position: absolute;
			bottom: 0;
		}

		&.large {
			@include font-size(18/16);
			padding-bottom: 4px;
		}

		&.medium {
			@include font-size(1);
		}

		&.normal {
			@include font-size(16/16);
			padding-bottom: 6px;
		}

		&.small {
			@include font-size(14/16);
		}
	}

	&.button-underline.underline-full:after {
		width: 100%;
		left: 0;
	}

	&.button-underline.underline-small:after {
		width: 20px;
		transition: width 0.4s;
	}

	&.button-underline.underline-left:after {
		left: 0;
	}

	&.button-underline.underline-center:after {
		left: 50%;
		transform: translateX(-50%);
	}

	&.button-underline.underline-right:after {
		right: 0;
	}

	&.button-underline.underline-small:hover:after {
		width: 100%;
	}

	&.align-left {
		float: left;
	}

	&.align-right {
		float: right;
	}
}

.dbd-button-wrapper.text-center {
	text-align: center;
}
